.ResourceList-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.ResourceList-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(28, 79, 190);
  margin-bottom: 5rem;
}

.ResourceList-banner h1 {
  align-self: center;
  color: rgb(247, 234, 221);
  transform: rotate(-3deg);
  font-size: 6rem;
  font-weight: 600;
}

.ResourceList-banner img {
  max-height: 30%;
  max-width: 30%;
}

.ResourceList-banner img:first-of-type {
  transform: rotate(-90deg);
}