.ResourceList-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.ResourceList-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  background-color: var(--green);
  margin-bottom: 5rem;
}

.ResourceList-banner h1 {
  align-self: center;
  color: var(--bg);
  transform: rotate(-3deg);
  font-size: 6rem;
  font-weight: 600;
  margin: 80px;
}

.ResourceList-banner img {
  max-height: 30%;
  max-width: 30%;
}

.ResourceList-banner img:first-of-type {
  transform: rotate(-90deg);
}

.ResourceList-body {
  display: flex;
}


@media (max-width: 760px) {

  .ResourceList-body {
    display: flex;
    flex-direction: column;
  }

}