.ResourceList-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.ResourceList-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(28, 79, 190);
  margin-bottom: 5rem;
}

.ResourceList-banner h1 {
  align-self: center;
  color: rgb(247, 234, 221);
  transform: rotate(-3deg);
  font-size: 6rem;
  font-weight: 600;
}

.ResourceList-banner img {
  max-height: 30%;
  max-width: 30%;
}

.ResourceList-banner img:first-of-type {
  transform: rotate(-90deg);
}

.ResourceList-body {
  display: flex;
}

.ResourceList-filter {
  background-color: rgb(255, 252, 250);
  border-radius: 15px;
  padding: 2rem 4rem 0rem 2rem;
  margin: 0 1.5rem;
  max-width: 40%;
  width: 100%;
  margin-bottom: 15rem;
  box-sizing: border-box;
}

.ResourceList-filter-tag {
  display: flex;
}

.ResourceList-filter-tag button {
  text-decoration: none;
  border: none;
  background-color: rgb(255, 252, 250);
}

.ResourceList-filter-tag p {
  align-self: center;
  margin-left: 10px;
  margin-top: 12px;
}

.ResourceList-filter-head {
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  transform: rotate(-3deg);
  margin-bottom: 2rem;
}

.ResourceList-filter-friends {
  margin-top: 2rem;
}

.ResourceList-filter-title {
  text-align: left;
  font-weight: 600;
}

.ResourceList-filter-reset {
  max-width: 90%;
  font-size: .8rem;
  margin-top: 2rem;
  float: right;
  margin-right: -2rem;
  font-weight: 600;
}