.SignupForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  padding: 80px;
  margin: 4% 20%;
  max-width: 60%;
  background-color: rgb(31, 31, 32);
  color: #f7eadd;
}

.SignupForm h1 {
  font-size: 4.5rem;
  transform: rotate(-3deg);
}

.SignupForm label {
  font-weight: 600;
  font-size: 1.2rem;
}

.SignupForm-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-left: 35%;
  max-width: 60%;
}

.SignupForm-input label {
  text-align: left;
}

.SignupForm-btn {
  color: rgb(247, 234, 221);
  border-color: rgb(247, 234, 221);
  margin: 20px;
  max-width: 20%;
  align-self: flex-end;
}

.SignupForm-btn:hover {
  background-color: rgb(247, 234, 221);
  border-color: rgb(247, 234, 221);
  color: black;
}

.SignupForm-logo1,
.SignupForm-logo2,
.SignupForm-logo3 {
  max-height: 25%;
  position: absolute;
  z-index: 200;
  left: 0;
  margin-left: 24%;
}

.SignupForm-logo1 {
  margin-top: 6%;
  fill: rgb(249, 64, 3);
}

.SignupForm-logo2 {
  margin-top: 21%;
  fill: rgb(42, 176, 106)
}

.SignupForm-logo3 {
  margin-top: 36%;
  fill: rgb(247, 234, 221);
}