.SignupForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  padding: 80px;
  margin: 4% 20%;
  max-width: 60%;
  background-color: #1f1f20;
  color: #f7eadd;
}

.SignupForm h1 {
  font-size: 4.5rem;
  transform: rotate(-3deg);
}

.SignupForm label {
  font-weight: 600;
  font-size: 1.2rem;
}

.SignupForm-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-left: 35%;
  max-width: 60%;
}

.SignupForm-input label {
  text-align: left;
}

.SignupForm-btn {
  color: rgb(247, 234, 221);
  border-color: rgb(247, 234, 221);
  margin: 20px;
  max-width: 20%;
  align-self: flex-end;
}

.SignupForm-btn:hover {
  background-color: rgb(247, 234, 221);
  border-color: rgb(247, 234, 221);
  color: black;
}

.SignupForm-logo1,
.SignupForm-logo2,
.SignupForm-logo3 {
  max-height: 25%;
  position: absolute;
  z-index: 200;
  left: 0;
  margin-left: 24%;
}

.SignupForm-logo1 {
  margin-top: 6%;
  fill: rgb(249, 64, 3);
}

.SignupForm-logo2 {
  margin-top: 21%;
  fill: rgb(42, 176, 106)
}

.SignupForm-logo3 {
  margin-top: 36%;
  fill: rgb(247, 234, 221);
}

/************** RESPONSIVE MEDIA QUERIES *****************/


@media (max-width: 280px) {

  .SignupForm-logo1,
  .SignupForm-logo2,
  .SignupForm-logo3 {
    display: none;
  }

  .SignupForm h1 {
    font-size: 1.5rem;
    transform: rotate(-3deg);
    margin-top: 40px;
  }

  .SignupForm form {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .SignupForm-input {
    max-width: 90%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
  }

  .SignupForm label {
    font-weight: 600;
    font-size: 1rem;
  }

  .SignupForm-btn {
    margin: 20px;
    align-self: center;
    max-width: 80%;
  }
}


@media (min-width: 280px) and (max-width: 320px) {
  .SignupForm-logo1,
  .SignupForm-logo2,
  .SignupForm-logo3 {
    display: none;
  }

  .SignupForm h1 {
    font-size: 1.5rem;
    transform: rotate(-3deg);
    margin-top: 40px;
  }

  .SignupForm form {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .SignupForm-input {
    max-width: 90%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
  }

  .SignupForm label {
    font-weight: 600;
    font-size: 1rem;
  }

  .SignupForm-btn {
    margin: 20px;
    align-self: center;
    max-width: 80%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .SignupForm-logo1,
  .SignupForm-logo2,
  .SignupForm-logo3 {
    display: none;
  }

  .SignupForm h1 {
    font-size: 2rem;
    transform: rotate(-3deg);
    margin-top: 40px;
  }

  .SignupForm form {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .SignupForm-input {
    max-width: 90%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
  }

  .SignupForm label {
    font-weight: 600;
    font-size: 1rem;
  }

  .SignupForm-btn {
    margin: 20px;
    align-self: center;
    max-width: 80%;
  }

}


@media (min-width: 480px) and (max-width: 760px) {
  .SignupForm-logo1,
  .SignupForm-logo2,
  .SignupForm-logo3 {
    display: none;
  }

  .SignupForm h1 {
    font-size: 2.5rem;
    transform: rotate(-3deg);
    margin-top: 40px;
  }

  .SignupForm form {
    width: 100%;
    max-width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .SignupForm-input {
    max-width: 90%;
    width: 100%;
    text-align: left;
    margin-left: 5%;
  }

  .SignupForm label {
    font-weight: 600;
    font-size: 1rem;
  }

  .SignupForm-btn {
    margin: 20px;
    align-self: center;
    max-width: 80%;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .SignupForm-logo1,
  .SignupForm-logo2,
  .SignupForm-logo3 {
    display: none;
  }

  .SignupForm h1 {
    font-size: 3.5rem;
    transform: rotate(-3deg);
    margin-top: 40px;
  }

  .SignupForm form {
    width: 100%;
    max-width: 80%;
    padding: 20px;
    padding-top: 40px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .SignupForm-input {
    max-width: 70%;
    width: 100%;
    text-align: left;
    margin-left: 15%;
  }

  .SignupForm label {
    font-weight: 600;
    font-size: 1rem;
  }

  .SignupForm-btn {
    margin: 20px;
    align-self: center;
    max-width: 80%;
  }
}