
.SignupForm form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  padding: 80px;
  margin: 5% 20%;
  max-width: 60%;
  background-color: rgb(31, 31, 32);
  color: rgb(247, 234, 221);
}

.SignupForm label {
  font-weight: 600;
  font-size: 1.2rem;
}

.SignupForm-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-left: 30%;
  max-width: 60%;
}

.SignupForm-input label {
  text-align: left;
}

.SignupForm-btn {
  color: rgb(247, 234, 221);
  border-color: rgb(247, 234, 221);
  margin: 20px;
  max-width: 20%;
  align-self: flex-end;
}

.SignupForm-btn:hover{
  background-color: rgb(247, 234, 221);
  border-color: rgb(247, 234, 221);
  color: black;
}


